body{
  margin:0;
  font-family:Poppins,sans-serif;
  background:#f4f6f8;
}

header{
  background:linear-gradient(90deg,#1a73e8,#0d47a1);
  color:white;
  padding:15px;
  text-align:center;
}

.card{
  background:white;
  margin:15px;
  padding:15px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.match.live{border-left:6px solid red;}
.match.upcoming{border-left:6px solid orange;}
.match.completed{border-left:6px solid green;}

.player{
  display:inline-block;
  margin:10px;
  padding:10px;
  background:white;
  border-radius:10px;
  box-shadow:0 4px 8px rgba(0,0,0,0.15);
}
